.list-item {
  padding: 0;
  margin-bottom: 10px;
  box-shadow: none;
}

.item {
  &-wrapper {
    display: flex;
    align-items: center;

    span {
      flex-grow: 1;
    }
  }

  &-input {
    padding: 0;
    width: 55px;
  }
}

:host::ng-deep .mat-form-field-wrapper {
  padding: 0;
}


